* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;

}

#page{
    max-width: 1200px;
    min-width: 720px;
    margin: 10px auto ;
    padding: 20px;
    background-color: whitesmoke;
}
main {
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.grid-container-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

.logo img {
    margin: 1em auto;
    width: 120px;

}
.logo, .searchArea{
    text-align: center;
}

.searchArea {
   margin-top:  4em;
}
.checkOut {
    margin: 2em  2.5em;

}
.checkoutDropdownButton{
    padding: 1em;
    background-color: black;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
.checkoutDropdownButton:hover, .checkoutDropdownButton:focus {
    background-color: mediumspringgreen;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    display: block;
}

.checkOut img {
    width: 50px;
}
.area-item1 {
    grid-area: side;
}

.area-item2 {
    grid-area: top;
}

.area-item3 {
    grid-area: bottom;
}

.grid-container-ShopCart{
    display: grid;
    grid-template-areas:
            ' top  top    side '
            'bottom bottom bottom ';
    grid-gap: 0.5em;
    background-color: ghostwhite;
    padding: 0.5em;
}

.grid-item1 {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
.grid-container-ShopCart button {
    color: white;
    background-color: red;
    padding: 1em 3em;
   margin-left: 4em;
    cursor: pointer;

}
#navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    letter-spacing: 0.3em;
    word-spacing: 0.5em;
}

.navbar-item {
    float: left;
    padding: 0;
    list-style-type: none;
    border: 1px solid black;
    background-color: darkorange;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
}
.rowItems {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
 row-gap: 3em;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 1.5em;


}
img .cdInfo {
    width: 290px;
    margin: 5px;

}
.cdInfo {
    text-align: left;
    line-height: 0.4em;

}
/*.cdInfo :hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/
.buyButton {
    background-color: red;
    color: white;
    border-radius: 6px;
    border-color: grey;
    padding: 1em 5.5em;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buyButton :hover {
    background-color: green;
    color: #212121;
}

