/* Mobile First*/
#navbarMenu{

    background: var( --primary-text);
    padding: 0.5em;
    text-align:center;

}
.menuStyle {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
}

.menuStyle a {
    text-decoration: none;
    list-style: none;
    color: var(--background-color);
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
nav li {
    list-style-type: none;
    text-decoration: none;

}

nav  {
    color: var(--background-color);
    font-weight:200;
    font-family: Oswald-Bold,  serif;
}
/*color stay orange when in active not working*/

#active {
   color: var(--background-color);
}

.navbar-link {
    color: var(--text-icons);
    background: black;
    padding:0.5em 0.5em;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
}
.navbar-link:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px 20px;
    color:#1b1b1b;
}

li:hover {
    background: white;
    cursor: pointer;
}

ul li ul {
    background: white;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
    #navbarMenu{
        padding: 0.8em;
    }
    .navbar-link {
        padding:0.6em 0.6em;
        font-size:16px;
    }
}
/* laptop/Desktop */
@media screen and (min-width: 992px) {
        #navbarMenu{
            padding:1em;
        }
}