
.gridContainerHeader {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo img {
    padding-top: 1.5em;
    margin: 1em auto;
    width: 100px;
}

.logo, .title {
    text-align: center;
}

.title {
    margin-top: 4em;
    font-size: 20px;
}

.searchArea {
    border-radius: 4px;
    text-align: center;
    margin-bottom: 0.5em;
}

.searchArea input {
    padding: 0.5em 6em;
    text-align: center;
}

.searchArea button {
    padding: 0.6em;
    border-radius: 4px;
}

.checkOut {
    text-align: center;
    margin-bottom: 2em;
}

.checkoutDropdownButton {
    color: var(--secondary-text);
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-top: 5em;
    background-color: var(--primary-text);
    font-size: 1em;
    cursor: pointer;
}

.checkoutDropdownButton:hover, .checkoutDropdownButton:focus {
    background-color: lightslategray;
    color: var(--primary-text)
}

.iconCart {
    cursor: pointer;
    padding-top: 1em;
    margin: 0;
}

.iconCart:hover {
    color: var(--divider-color)
}

.label {
    padding-left: 8px;
}
