.gridItem1 {
    background-color: floralwhite;
    border: 1px solid black;
    padding: 0 4px;
    text-align: center;
    border-radius: 5px;
    margin: 0.5em;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 180px;
    max-width: 620px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
    right: 15em;
}

.show {
    display: block;
}

.btn {
    font-family: 'ArchitectsDaughter-Regular', serif;
    font-size: 17px;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
    background-color: red;
    color: white;
    border: 1px solid black;
    margin: 1em;
}

.btn:hover {
    background-color: lightslategray;
    border-color: #9c1458;
}

.btnAlt {
    background-color: transparent;
    color: #800040;
}

.btn--alt:hover {
    background-color: lightslategray;
}

/*color change for ternary operator on the cart*/

.green {
    color: green;
}

.red {
    color: #D32F2F;
}



