#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
    letter-spacing: 0.3em;
    word_spacing: 2em;

}

.navbar-item {
    float: left;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar-link:hover:not(.active) {
    background-color: darkviolet ;
}

.active {
    background-color: palevioletred;
}