body {
    margin: 0;
    background-color: khaki;
    color: black;
    font-family: Tahoma, Helvetica;
    padding-bottom: 50px;
    font-size: 1.2em;
}
header {
    background-color: lightpink;
    padding: 0.1em;
    text-align: center;
    letter-spacing: 0.3em;
    word_spacing: 1em;
}