header {
    background-image: url("../img/cherry.jpg");

}

#rubrik_1 {
    font-size: 6em;
    text-shadow: 5px 5px 10px darkseagreen;
}

#rubrik_2 {
    text-shadow: 2px 2px 7px darkgrey;
}

.introblog {
    padding: 1em;
}

.leftcolumn {
    float: left;
    width: 60%;
}

.rightcolumn {
    float: left;
    width: 30%;
}

.blogTextimg {
    text-align: center;
}

.blogTextimg img {
    width: 70%;
    min-width: 300px;
    max-width: 500px;
    transition: all 0.2s;
}

.blogTextimg :hover {
    transform: scale(1.1)
}

.blogTextimg :hover:after {
    content: "";
    display: table;
    clear: both;
}
/* how to add this button to the other hover? */
.facebookButton :hover {
    transform: scale(1.1)
}

.facebookButton :hover:after {
    content: "";
    display: table;
    clear: both;
}

.blogPhoto {
    text-align: center;

}

.card {
    float: left;
    background-color: white;
    padding: 4em;
    margin-top: 20px;
    margin-left: 4em;
    margin-bottom: 2em;

}
/* how to do text box bigger*/
.boxComment {
    padding: 1em;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}