
header {
    background-color: lightpink;
    background-image: url("../img/cherry.jpg");
    padding: 0.1em;
    text-align: center;
    letter-spacing: 0.3em;
    word_spacing: 1em;
}

#rubrik_1 {
    font-size: 6em;
    text-shadow: 5px 5px 10px darkseagreen;
}

#rubrik_2 {
    text-shadow: 2px 2px 7px darkgrey;
}.imageText {
     margin: 2em;
 }

.imageText:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
}

.imageText .rightText {
    float: left;
    padding-left: 2em;
}

.imageText .leftImage {
    float: left;
    width: 50%;
}

.imageText .leftText {
    float: right;
    padding-right: 2em;
}

.imageText .rightImage {
    float: right;
    width: 50%;
}

.imageText aside {
    width: 50%;
    text-align: left;
    box-sizing: border-box;
}