
header {
    background-color: crimson;
    background-image: url("../img/codeBack.jpg");
    padding: 0.1em;
    text-align: center;
    letter-spacing: 0.3em;
    word-spacing: 1em;
}
.imageText {
    margin: 2em;
}
.imageText:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
}
.imageText .rightText {
  float: left;
    padding-left: 2em;
}
.imageText .leftImage {
    float: left;
    width: 50%;
}
.imageText .leftText {
    float: right;
    padding-right: 2em;
}
.imageText .rightImage {
    float: right;
    width: 50%;
}
.imageText aside {
    width: 50%;
    text-align: left;
    box-sizing: border-box;
}
#rubrik_1 {
    font-size: 6em;
    color: chartreuse;
    text-shadow: 7px 7px 12px black;
}
#rubrik_2 {
    text-shadow: 2px 2px 4px deeppink;
}
#listContent {
    text-align: left;
}
img {
    width: 750px;
}