body {
    background-image: url("../img/wallpaper2.jpg");
}
header {
    background-color: darkseagreen;
    background-image: url("../img/paw portal.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.1em;
    text-align: center;
    letter-spacing: 0.3em;
    word_spacing: 1em;
}

#rubrik_1 {
    font-size: 4.5em;
    text-shadow: 5px 5px 10px cornflowerblue;
}

#rubrik_2 {
    text-shadow: 2px 2px 7px whitesmoke;
}

.imageText {
     margin: 2em;
 }

.imageText:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
}

.imageText .rightText {
    float: left;
    padding-left: 2em;
}

.imageText .leftImage {
    float: left;
    width: 30%;
}

.imageText .leftText {
    float: right;
    padding-right: 2em;
}

.imageText .rightImage {
    float: right;
    width: 35%;
}

.imageText aside {
    width: 50%;
    text-align: left;
    box-sizing: border-box;

}
.imageButton1 img {
    width: 80px;
    margin: 5px;
    transition: all 0.2s;
}

.imageButton1 img:hover {
    transform: scale(1.1)
}
.imageButton1 img:hover:after {
    content: "";
    display: table;
    clear: both;
}
.imageButton2 img {
    width: 150px;
    margin: 5px;
    transition: all 0.2s;
}

.imageButton2 img:hover {
    transform: scale(1.1)
}
.imageButton2 img:hover:after {
    content: "";
    display: table;
    clear: both;
}
.imageButton3 img {
    width:40%;
    margin-top: 0em;
    transition: all 0.2s;
} /*need to center more image*/

.imageButton3 img:hover {
    transform: scale(1.1)
}
.imageButton3 img:hover:after {
    content: "";
    display: table;
    clear: both;
}
