
.navBar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    letter-spacing: 0.3em;
    word-spacing: 0.5em;
    justify-content: center;
    font-family: 'ArchitectsDaughter-Regular', serif;
}

.navbarItem {
    padding: 0;
    list-style-type: none;
    border: 1px solid black;
    background-color: var(--dark-primary-color);
    font-size: 16px;
}

.navbarItem:hover {
    background-color: var(--secondary-text);
}

.navbarLink {
    display: block;
    color: var(--primary-text);
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
}

.active {
    background-color: var(--light-primary-color);
}

.blackFont {
    color: var(--text-icons);
}
