/* Mobile First*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkseagreen;
    color: purple;
    text-align: center;
    padding: 0.9px;
    border-radius: 10px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    footer {
        padding: 16px;
        border-radius: 20px;
    }
}

/* laptop/Desktop */
@media only screen and (min-width: 992px) {
    footer {
        padding: 20px;
        border-radius: 30px;
    }
}