header {
    background-color: floralwhite;

}
header img{
    width: 100px;
    padding-top: 1em;
}
#rubrik_1 {
    font-size: 1.5em;
    text-shadow: 2px 2px 3px firebrick;
}

#rubrik_2 {
    font-size: 0.8em;
    text-shadow: 2px 2px 7px whitesmoke;

}

.grid-container-course {
    display: grid;
    grid-template-columns: 1fr;
}
.img-responsive {
    width: 50%;
}